In [1]:
from azureml.core import Workspace, Experiment
from azureml.pipeline.steps import PythonScriptStep

ws = Workspace.get(name="quick-starts-ws-125826")
exp = Experiment(workspace=ws, name="udacity-project")

print('Workspace name: ' + ws.name, 
      'Azure region: ' + ws.location, 
      'Subscription id: ' + ws.subscription_id, 
      'Resource group: ' + ws.resource_group, sep = '\n')

run = exp.start_logging()

Workspace name: quick-starts-ws-125826
Azure region: southcentralus
Subscription id: 174c6bee-3e04-4ee5-98ea-6d411844e6dd
Resource group: aml-quickstarts-125826

In [2]:
from azureml.core.compute import ComputeTarget, AmlCompute

# TODO: Create compute cluster

# Use vm_size = "Standard_D2_V2" in your provisioning configuration.
# max_nodes should be no greater than 4.
vm_size = "Standard_D2_V2"
compute_name="FirstComp"
# create the cluster
compute_min_nodes=0
compute_max_nodes=4
 



### YOUR CODE HERE ###
if compute_name in ws.compute_targets:
    compute_target = ws.compute_targets[compute_name]
    if compute_target and type(compute_target) is AmlCompute:
        print("found compute target: " + compute_name)
else:
    print("creating new compute target...")
    provisioning_config = AmlCompute.provisioning_configuration(vm_size = vm_size,
                                                                min_nodes = compute_min_nodes, 
                                                                max_nodes = compute_max_nodes)
    # if no min node count is provided it will use the scale settings for the cluster
    compute_target.wait_for_completion(show_output=True, timeout_in_minutes=20)
    # For a more detailed view of current AmlCompute status, use get_status()
    print(compute_target.get_status().serialize())

In [3]:
print(compute_name)

FirstComp

In [4]:
from azureml.widgets import RunDetails
from azureml.train.sklearn import SKLearn
from azureml.train.hyperdrive.run import PrimaryMetricGoal
from azureml.train.hyperdrive.policy import BanditPolicy
from azureml.train.hyperdrive.sampling import RandomParameterSampling
from azureml.train.hyperdrive.runconfig import HyperDriveConfig
from azureml.train.hyperdrive.parameter_expressions import uniform,normal,choice
import os

# Specify parameter sampler
ps = RandomParameterSampling( { 
    "--C": choice([0.00001,0.001,0.1,1,10,50,100,10000]),
     "--max_iter": choice(range(10, 200))     } )


# Specify a Policy

policy = BanditPolicy(evaluation_interval=2, slack_factor=0.1) ### YOUR CODE HERE ###

if "training" not in os.listdir():
    os.mkdir("./training")

    
"""    



"""

'    \n\n\n\n'

In [23]:
source_directory=os.getcwd()+"/training"

In [8]:
# Create a SKLearn estimator for use with train.py
from azureml.train.estimator import Estimator
from azureml.train.sklearn import SKLearn
import shutil
#shutil.copy('./train.py',source_directory)

est = SKLearn(source_directory="./", 
                compute_target=compute_target, 
                vm_size=vm_size,
                entry_script='train.py'
               )


# Create a HyperDriveConfig using the estimator, hyperparameter sampler, and policy.
### YOUR CODE HERE ###
hyperdrive_config = HyperDriveConfig(estimator=est,
                                hyperparameter_sampling=ps,
                                policy=policy,
                                primary_metric_name='Accuracy',
                                primary_metric_goal=PrimaryMetricGoal.MAXIMIZE,
                                max_total_runs=8,
                                max_concurrent_runs=4)

In [10]:
# Submit your hyperdrive run to the experiment and show run details with the widget.

### YOUR CODE HERE ###



exp_hyper=Experiment(ws,"hyper_test")
model=exp_hyper.submit(hyperdrive_config,show_output=True)
model.wait_for_completion(show_output=True)
best_run=model.get_best_run_by_primary_metric()
best_run.get_metrics()
#import joblib
#filename = 'model.joblib'
#joblib.dump(exp_hyper, filename)

RunId: HD_531a4a95-7357-4071-aab2-ab67983cf839
Web View: https://ml.azure.com/experiments/hyper_test/runs/HD_531a4a95-7357-4071-aab2-ab67983cf839?wsid=/subscriptions/174c6bee-3e04-4ee5-98ea-6d411844e6dd/resourcegroups/aml-quickstarts-125826/workspaces/quick-starts-ws-125826

Streaming azureml-logs/hyperdrive.txt
=====================================

"<START>[2020-11-12T17:29:06.299490][API][INFO]Experiment created<END>\n""<START>[2020-11-12T17:29:06.969977][GENERATOR][INFO]Successfully sampled '4' jobs, they will soon be submitted to the execution target.<END>\n""<START>[2020-11-12T17:29:06.767079][GENERATOR][INFO]Trying to sample '4' jobs from the hyperparameter space<END>\n"<START>[2020-11-12T17:29:07.4477756Z][SCHEDULER][INFO]The execution environment is being prepared. Please be patient as it can take a few minutes.<END>

Execution Summary
=================
RunId: HD_531a4a95-7357-4071-aab2-ab67983cf839
Web View: https://ml.azure.com/experiments/hyper_test/runs/HD_531a4a95-7357-4071-aab2-ab67983cf839?wsid=/subscriptions/174c6bee-3e04-4ee5-98ea-6d411844e6dd/resourcegroups/aml-quickstarts-125826/workspaces/quick-starts-ws-125826

{'Regularization Strength:': 100.0,
 'Max iterations:': 188,
 'Accuracy': 0.903793626707132}

In [13]:
#import joblib
#filename = 'model.pkl'
#joblib.dump(model, filename)

In [69]:
model

Run(Experiment: hyper_test,
Id: HD_c3b640f8-ec78-490e-be10-f0931f62de85,
Type: hyperdrive,
Status: Running)

In [37]:
from azureml.data.dataset_factory import TabularDatasetFactory
from azureml.core import Dataset, Datastore

# Create TabularDataset using TabularDatasetFactory
# Data is available at: 
# "https://automlsamplenotebookdata.blob.core.windows.net/automl-sample-notebook-data/bankmarketing_train.csv"

### YOUR CODE HERE ###
df=Dataset.Tabular.from_delimited_files(path="https://automlsamplenotebookdata.blob.core.windows.net/automl-sample-notebook-data/bankmarketing_train.csv")

In [38]:
df.to_pandas_dataframe()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,57,technician,married,high.school,no,no,yes,cellular,may,mon,...,1,999,1,failure,-1.8,92.893,-46.2,1.299,5099.1,no
1,55,unknown,married,unknown,unknown,yes,no,telephone,may,thu,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,no
2,33,blue-collar,married,basic.9y,no,no,no,cellular,may,fri,...,1,999,1,failure,-1.8,92.893,-46.2,1.313,5099.1,no
3,36,admin.,married,high.school,no,no,no,telephone,jun,fri,...,4,999,0,nonexistent,1.4,94.465,-41.8,4.967,5228.1,no
4,27,housemaid,married,high.school,no,yes,no,cellular,jul,fri,...,2,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32945,56,housemaid,married,basic.4y,no,no,yes,cellular,jul,mon,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.960,5228.1,no
32946,37,management,married,university.degree,no,no,yes,cellular,jul,fri,...,7,999,0,nonexistent,1.4,93.918,-42.7,4.957,5228.1,no
32947,26,admin.,single,university.degree,no,no,no,cellular,may,tue,...,4,999,1,failure,-1.8,92.893,-46.2,1.266,5099.1,no
32948,31,blue-collar,single,basic.9y,no,no,no,cellular,apr,mon,...,1,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,no
32949,39,housemaid,married,basic.4y,no,no,no,cellular,aug,thu,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no

In [40]:
#from train import clean_data
import pandas as pd
# Use the clean_data function to clean your data.
def clean_data(data):
    # Dict for cleaning data
    months = {"jan":1, "feb":2, "mar":3, "apr":4, "may":5, "jun":6, "jul":7, "aug":8, "sep":9, "oct":10, "nov":11, "dec":12}
    weekdays = {"mon":1, "tue":2, "wed":3, "thu":4, "fri":5, "sat":6, "sun":7}

    # Clean and one hot encode data
    x_df = data.to_pandas_dataframe().dropna()
    jobs = pd.get_dummies(x_df.job, prefix="job")
    x_df.drop("job", inplace=True, axis=1)
    x_df = x_df.join(jobs)
    x_df["marital"] = x_df.marital.apply(lambda s: 1 if s == "married" else 0)
    x_df["default"] = x_df.default.apply(lambda s: 1 if s == "yes" else 0)
    x_df["housing"] = x_df.housing.apply(lambda s: 1 if s == "yes" else 0)
    x_df["loan"] = x_df.loan.apply(lambda s: 1 if s == "yes" else 0)
    contact = pd.get_dummies(x_df.contact, prefix="contact")
    x_df.drop("contact", inplace=True, axis=1)
    x_df = x_df.join(contact)
    education = pd.get_dummies(x_df.education, prefix="education")
    x_df.drop("education", inplace=True, axis=1)
    x_df = x_df.join(education)
    x_df["month"] = x_df.month.map(months)
    x_df["day_of_week"] = x_df.day_of_week.map(weekdays)
    x_df["poutcome"] = x_df.poutcome.apply(lambda s: 1 if s == "success" else 0)

    y_df = x_df.pop("y").apply(lambda s: 1 if s == "yes" else 0)
    return x_df,y_df
x, y = clean_data(df)

In [41]:
total=pd.concat([x,y],axis=1)

In [57]:
total

,age,marital,default,housing,loan,month,day_of_week,duration,campaign,pdays,...,contact_telephone,education_basic.4y,education_basic.6y,education_basic.9y,education_high.school,education_illiterate,education_professional.course,education_university.degree,education_unknown,y
0,57,1,0,0,1,5,1,371,1,999,...,0,0,0,0,1,0,0,0,0,0
1,55,1,0,1,0,5,4,285,2,999,...,1,0,0,0,0,0,0,0,1,0
2,33,1,0,0,0,5,5,52,1,999,...,0,0,0,1,0,0,0,0,0,0
3,36,1,0,0,0,6,5,355,4,999,...,1,0,0,0,1,0,0,0,0,0
4,27,1,0,1,0,7,5,189,2,999,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32945,56,1,0,0,1,7,1,116,1,999,...,0,1,0,0,0,0,0,0,0,0
32946,37,1,0,0,1,7,5,69,7,999,...,0,0,0,0,0,0,0,1,0,0
32947,26,0,0,0,0,5,2,135,4,999,...,0,0,0,0,0,0,0,1,0,0
32948,31,0,0,0,0,4,1,386,1,999,...,0,0,0,1,0,0,0,0,0,0
32949,39,1,0,0,0,8,4,179,1,999,...,0,1,0,0,0,0,0,0,0,0

In [53]:
#total1=Dataset.from_pandas_dataframe(total, path=None, in_memory=False)

WARNING - "Dataset.from_pandas_dataframe" is deprecated after version 1.0.69. See Dataset API change notice at https://aka.ms/dataset-deprecation.

In [55]:
Dataset.Tabular.from_delimited_files(path=None,"total1.csv")

UserErrorException: UserErrorException:
	Message: Invalid argument type for `path`. It can be single value or a list of: string starting with "http://" or "https://", `azureml.data.datapath.DataPath` object, or tuple of `azureml.core.Datastore` object and string for relative path in the datastore.
	InnerException None
	ErrorResponse
{
    "error": {
        "code": "UserError",
        "message": "Invalid argument type for `path`. It can be single value or a list of: string starting with \"http://\" or \"https://\", `azureml.data.datapath.DataPath` object, or tuple of `azureml.core.Datastore` object and string for relative path in the datastore."
    }
}

In [58]:
total=total[['age', 'marital', 'default', 'housing', 'loan', 'month',
       'day_of_week', 'duration', 'campaign', 'pdays', 'previous', 'poutcome',
       'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m',
       'nr.employed', 'job_admin.', 'job_blue-collar', 'job_entrepreneur',
       'job_housemaid', 'job_management', 'job_retired', 'job_self-employed',
       'job_services', 'job_student', 'job_technician', 'job_unemployed',
       'job_unknown', 'contact_cellular', 'contact_telephone',
       'education_basic.4y', 'education_basic.6y', 'education_basic.9y',
       'education_high.school', 'education_illiterate',
       'education_professional.course', 'education_university.degree',
       'education_unknown', 'y']]

In [63]:
from azureml.train.automl import AutoMLConfig
import numpy as np


# Set parameters for AutoMLConfig
# NOTE: DO NOT CHANGE THE experiment_timeout_minutes PARAMETER OR YOUR INSTANCE WILL TIME OUT.
# If you wish to run the experiment longer, you will need to run this notebook in your own
# Azure tenant, which will incur personal costs.
automl_config = AutoMLConfig(
    experiment_timeout_minutes=30,
    task='classification',
    compute_target=compute_target,
    primary_metric="accuracy",
    training_data=df,
    label_column_name="y",
    n_cross_validations=3)

In [ ]:
#!pip install cryptography==3.1
#!pip install zipp==3.1.0

# Submit your automl run

exp=Experiment(ws,"automl_test")
automl_model=exp.submit(automl_config,show_output=True)
### YOUR CODE HERE ###
import joblib

Running on remote.
Running on remote compute: FirstComp
Parent Run ID: AutoML_b32b79db-8ff5-4f47-bd96-331b9dfd4123

Current status: FeaturesGeneration. Generating features for the dataset.
Current status: DatasetFeaturization. Beginning to fit featurizers and featurize the dataset.
Current status: DatasetCrossValidationSplit. Generating individually featurized CV splits.
Current status: ModelSelection. Beginning model selection.

****************************************************************************************************
DATA GUARDRAILS:

TYPE:         Class balancing detection
STATUS:       ALERTED
DESCRIPTION:  To decrease model bias, please cancel the current run and fix balancing problem.
              Learn more about imbalanced data: https://aka.ms/AutomatedMLImbalancedData
DETAILS:      Imbalanced data can lead to a falsely perceived positive effect of a model's accuracy because the input data has bias towards one class.
+---------------------------------+---------------------------------+--------------------------------------+
|Size of the smallest class       |Name/Label of the smallest class |Number of samples in the training data|
+=================================+=================================+======================================+
|3692                             |yes                              |32950                                 |
+---------------------------------+---------------------------------+--------------------------------------+

****************************************************************************************************

TYPE:         Missing feature values imputation
STATUS:       PASSED
DESCRIPTION:  No feature missing values were detected in the training data.
              Learn more about missing value imputation: https://aka.ms/AutomatedMLFeaturization

****************************************************************************************************

TYPE:         High cardinality feature detection
STATUS:       PASSED
DESCRIPTION:  Your inputs were analyzed, and no high cardinality features were detected.
              Learn more about high cardinality feature handling: https://aka.ms/AutomatedMLFeaturization

****************************************************************************************************

****************************************************************************************************
ITERATION: The iteration being evaluated.
PIPELINE: A summary description of the pipeline being evaluated.
DURATION: Time taken for the current iteration.
METRIC: The result of computing score on the fitted pipeline.
BEST: The best observed score thus far.
****************************************************************************************************

 ITERATION   PIPELINE                                       DURATION      METRIC      BEST
         0   MaxAbsScaler LightGBM                          0:04:08       0.9151    0.9151
         1   MaxAbsScaler XGBoostClassifier                 0:00:45       0.9150    0.9151
         2   MaxAbsScaler RandomForest                      0:00:37       0.8927    0.9151
         3   MaxAbsScaler RandomForest                      0:00:31       0.8880    0.9151
         4   MaxAbsScaler SGD                               0:00:29       0.8466    0.9151
         5   MaxAbsScaler SGD                               0:00:36       0.9057    0.9151
         6   MaxAbsScaler ExtremeRandomTrees                0:00:42       0.8994    0.9151
         7   MaxAbsScaler ExtremeRandomTrees                0:00:40       0.8998    0.9151
         8   MaxAbsScaler ExtremeRandomTrees                0:00:38       0.8997    0.9151
         9   MaxAbsScaler ExtremeRandomTrees                0:00:39       0.7725    0.9151
        10   MaxAbsScaler SGD                               0:00:41       0.9034    0.9151
        11   MaxAbsScaler SGD                               0:00:33       0.9026    0.9151
        12   MaxAbsScaler RandomForest                      0:00:31       0.8912    0.9151
        13   StandardScalerWrapper ExtremeRandomTrees       0:00:39       0.8880    0.9151
        14   MaxAbsScaler RandomForest                      0:00:42       0.7734    0.9151
        15   MaxAbsScaler SGD                               0:00:38       0.8466    0.9151
        16   MaxAbsScaler RandomForest                      0:00:35       0.8880    0.9151
        17   MaxAbsScaler ExtremeRandomTrees                0:00:37       0.8997    0.9151
        18   SparseNormalizer ExtremeRandomTrees            0:00:37       0.7171    0.9151
        19   MaxAbsScaler SGD                               0:00:40       0.9086    0.9151

In [47]:
type(total)

pandas.core.frame.DataFrame

^C

In [ ]:
# Retrieve and save your best automl model.

### YOUR CODE HERE ###

joblib.dump(automl_model, 'autiml_model1.sav')